Package: dmm
Version: 18.07
Section: tuils
Priority: optional
Depends: libc6, libstdc++6, libgcc1
Suggests:
Architecture: amd64
Installed-Size:
Maintainer: jorth
Original-Maintainer:
Provides:
Description: DMM is a framework for protocol stack.
Homepage: https://gerrit.fd.io/r/dmm
